<h1>Login page</h1>

<a href="/auth/facebook">
  <span class="btn btn-primary">
    Login with Facebook
  </span>
</a>

<a href="/auth/facebook">
  <span class="btn btn-primary">
    Login with Something
  </span>
</a>

<a href="/auth/facebook">
  <span class="btn btn-primary">
    Login with Something
  </span>
</a>

<a href="/auth/facebook">
  <span class="btn btn-primary">
    Login with Something
  </span>
</a>

<a href="/auth/facebook">
  <span class="btn btn-primary">
    Login with Something
  </span>
</a>
